html {
    font-family: Calibri;
    background-color: #373631;
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
}

h1 {
    font-family: "Press Start 2P";
    color: white;
}

nav {
    background-color: #AB2513;
}

nav > ul#menu {
    list-style-type: none;
    padding: 0;
}

nav > ul#menu > li {
    display: inline-block;
    padding: 10px 20px;
}

nav > ul#menu > li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main {
    padding: 10px;
}

div.questions {
    width: 50%;
    display: inline-block;
    margin: 10px;
}

div.questions-input {
    width: 45%;
    display: inline-block;
}

input[type=submit] {
    position: relative;
    top: 0;
    left: 52%;
    margin: 10px;
}

footer {
    background-color: #535245;
    color: white;
    text-align: center;
    padding: 10px;
}