html {
    font-family: Calibri;
    background-color: #373631;
}

h1 {
    font-family: "Lakki Reddy";
    color: white;
    font-size: 3em;
    margin: 0 10px;
    position: relative;
    top: 15px;
    left: 0;
}

#container {
    width: 600px;
    margin: 0 auto;
    background-color: #373631;
}

nav {
    background-color: #AB2513;
}

nav > ul#menu {
    list-style-type: none;
    padding: 0;
}

nav > ul#menu > li {
    display: inline-block;
    padding: 10px 20px;
}

nav > ul#menu > li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main {
    padding: 10px;
    background-color: white;
    position: relative;
    bottom: 16px;
    left: 0;
}

div.questions {
    width: 60%;
    display: inline-block;
    margin: 10px;
}

div.error {
    width: 60%;
    display: inline-block;
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

div.questions-input {
    width: 35%;
    display: inline-block;
}

input[type=submit] {
    /* position: relative;
    top: 0;
    left: 62%; */
    margin: 10px;
}

footer {
    background-color: #535245;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 16px;
    left: 0;
}