html {
    font-family: Calibri;
    background-color: #373631;
}

#container {
    width: 750px;
    margin: 0 auto;
}

h1 {
    font-family: "Press Start 2P";
    color: white;
}

nav {
    background-color: #AB2513;
}

nav > ul#menu {
    list-style-type: none;
    padding: 0;
}

nav > ul#menu > li {
    display: inline-block;
    padding: 10px 20px;
}

nav > ul#menu > li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main {
    background-color: white;
    padding: 10px;
}

label {
    width: 50%;
}

